header{
    background-color: gray;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
li{
    display: inline;
    margin-right: 30px;
}
a{
    text-decoration: none;

}
body{
    margin: 0px;
    background-image: url(../img/pattern.jpg);
}
main{
    margin: 7% 10% 7%;
    background-color: beige;
    padding: 30px;
}
h1{
    text-align: center;
}
article{
    margin-top: 20px;
    border-bottom: 3px solid black;
}
h5{
    color: black;
    text-align: center;
}